$violet-bgc: #4f62f6;
$violet-button: hsl(249, 100%, 64%);
$white: #ffffff;

$gray-main-text: #4f4f4f;
$gray-headers: #333333;
$light-gray: #e0e0e0;
$dark-gray: #828282;

$tablet-min-width: 768px;
$desktop-min-width: 1440px;


