@import '../../utils/mixins.scss';
@import '../../utils/normalize.scss';
@import '../../utils/vars.scss';

.footer {
  @include inline-padding();
  padding-block: 32px;
  @include onTablet {
    padding-block: 48px;
  }

  @include flex-container(column, 32px);

  background-color: $white;

  @include onDesktop {
    padding-bottom: 32px;
    flex-direction: row;
  }

  &__top {
    @include onDesktop {
      @include flex-container(row, 54px);
      grid-column: span 2;
    }
  }

  &__info {
    @include onTablet {
      grid-column: 2 / span 6;
      margin-top: 40px;
    }

    @include onDesktop {
      grid-column: span 10;
    }
  }

  &__wrapper {

      @include onDesktop {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
      }
  }

  &__logo {
    display: flex;
    height: 44px;
    width: 126px;

    justify-content: center;
    align-items: center;

    margin: 0 auto;

    @include onTablet {
      grid-column: 1 / 1;
    }

    @include onDesktop {
      // display: inline-block;
      justify-content: start;
      margin: 0;
    }

    &--text {
      @include museo-sans();

    }
  }

  &__nav {
    @include museo-sans();
    text-align: left;

    @include onDesktop {
      display: none;
    }
  
    &__list {
      @include flex-container(column, 32px);
  
      list-style-type: none;
  
      padding: 0;

      @include onTablet {
        margin-top: 54px;
        flex-direction: row;
        justify-content: space-between;
      }

      @include onDesktop {
        margin-top: 0;
        gap: 24px;
        flex-direction: column;
      }


    }
  }

  &__nav--onDesktop {
    @include museo-sans();
    text-align: left;

    display: none;

    @include onDesktop {
      grid-column: 11 / 12;
      display: block;
    }
  
    &__list {
      @include flex-container(column, 24px);
  
      list-style-type: none;
  
      padding: 0;

      @include onTablet {
        flex-direction: row;
        justify-content: space-between;
      }

      @include onDesktop {
        flex-direction: column;
      }


    }
  }

  &__terms {
    &--wrapper {
      @include flex-container(column, 24px);

      @include onTablet {
        padding-inline: 130px;
      }

      @include onDesktop {
        padding-inline: 0;
        flex-direction: row;
        grid-column: 3 / span 8;
      }
    }

    &--card {
      @include flex-container(column, 16px);

      margin-top: 32px;

      @include onDesktop {
        margin-top: 0;
        grid-column: span 4;
        justify-content: start;
        align-items: flex-start;
      }

    }
  }

  &__credentials {
    
    @include onDesktop {
      display: none;
    }
    &__list {
      @include flex-container(column, 16px);
      
      justify-content: center;

      margin-top: 32px;

      list-style-type: none;
      @include montserrat-400(16px, 27px);
      color: $dark-gray;

      padding: 0;

      li:first-child {
        white-space: nowrap;
      }

      @include onTablet {
        margin-top: 40px;
      }

      @include onDesktop {
       flex-direction: row;
        gap: 66px;
        justify-content: space-between;
      }

    }
  }
  
}

.term {
  &__header {
    @include museo-sans(18px, 30px);

    text-align: left;

    @include onTablet {
      text-align: center;
    }
  }

  &__text {
    @include montserrat-400(16px, 27px);

    text-align: left;

    @include onTablet {
      text-align: center;
    }
    
    @include onDesktop {
      text-align: left;
    }
  }
}

.footer__credentials--onPC {
  display: none;

  @include onDesktop {
    grid-column: span 12;
    display: flex;

    li {
      &:first-child {
        margin-right: 66px;
      }
    }
  }

  
}